<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.serializeServerState</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE.SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableRestorView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/Login.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Administrador</display-name>
        <web-resource-collection>
            <web-resource-name>reourseAdministrador</web-resource-name>
            <description/>
            <url-pattern>/faces/admin/medico/*</url-pattern>
            <url-pattern>/faces/admin/paciente/*</url-pattern>
            <url-pattern>/faces/admin/usuario/*</url-pattern>
            <url-pattern>/faces/admin/reportes/*</url-pattern>
            <url-pattern>/faces/admin/especialidad/*</url-pattern>
            <url-pattern>/faces/admin/sala/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Archivista</display-name>
        <web-resource-collection>
            <web-resource-name>reourseAdministrador</web-resource-name>
            <description/>
            <url-pattern>/faces/admin/paciente/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>archivista</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Medico</display-name>
        <web-resource-collection>
            <web-resource-name>reourseMedico</web-resource-name>
            <description/>
            <url-pattern>/faces/admin/consulta/*</url-pattern>
            <url-pattern>/faces/admin/antecedentes/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Medico</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>expedienteClinicoRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/Login.xhtml</form-login-page>
            <form-error-page>/faces/Login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>archivista</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Medico</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/404.xhtml</location>
    </error-page>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>south-street</param-value>
    </context-param>
</web-app>